/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-width: 450px;
}

.header{
	-webkit-background-image: url("food.jpeg");
  background-image: url("food.jpeg");
  position: relative;
  width: 100%;
  /* min-width: 450px; */
}


.blurred-cover{
  width: 100%;
  height: 100%;
  /* background-color: #267e46; */
  -webkit-backdrop-filter: saturate(180%) blur(7px);
  backdrop-filter: saturate(180%) blur(7px);
  position: absolute;
  /* z-index: 10; */
}

.landing {
  text-align: center;
  text-transform: uppercase;
  /* background-image: url("/Modern Concepts Starter Files/img/food-blurred.png"); */
  /* background-image: linear-gradient(90deg,#52c37c, #80e3a5); */
  /* mix-blend-mode: hard-light; */
  position: relative;
  z-index: 0;
  /* backdrop-filter: saturate(180%) blur(10px); */
  
}

.cover_color {
  background: rgb(90, 96, 99);
  /* background-image: linear-gradient(90deg, #80e3a5, #267e46); */
  /* background: radial-gradient(circle, rgb(216, 222, 224) 0%, rgba(2,42,50,1) 80%); */
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: saturate(180%) blur(10px);
}

/*=== HEADINGS & ICONS ===*/

.landing h4 {
  color: white;
  font-weight: 200;
  font-size: 1.6rem;
  /* letter-spacing: .25rem; */
  letter-spacing: 1.25rem;  
  padding-top: 7rem;
  text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, .15);
}

.landing h1 {
  color: white;
  font-weight: bold;
  /* font-size: 3rem; */
  font-size: 4rem;
  /* letter-spacing: .1rem; */
  letter-spacing: 1.1rem;
  text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, .15);
  padding-top: 0.5rem;
  padding-bottom: 7rem;
  margin: 0;
}

/*=== NAVIGATION ===*/

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, .15);
  /* padding-top: 0.5rem; */
  /* padding-bottom: 7rem; */
  /* margin: 0; */
}

.navbar {
  background-image: linear-gradient(to right, rgba(41, 211, 101, 0.6), rgba(5, 82, 56, 0.6));
  /* background-image: linear-gradient(90deg, #80e3a5, #267e46); */
  /* background-color: rgba(41, 211, 101, 0.6); */
  padding: .3rem 0 .6rem;
  box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .15);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: transparent;
}

.nav-link {
  color: white !important;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .12rem;
  font-size: 1.2rem;
  text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, .15);
  margin-right: .8rem;
}

.active{
  cursor: default;
}

.nav-link.active,
.nav-link:hover {
  border-bottom: .05rem solid white;
}

/*=== CONTENT STYLE ===*/

.about{
  /* background-image: linear-gradient(to right, rgba(164, 233, 188, 0.6), rgba(71, 156, 101, 0.6)); */
  background-color:  rgba(186, 235, 203, 0.6);
  width: 100%;
}

.about p{
  font-size: 1.2rem;
  font-weight: 200;
  padding-top: 35px;
}

img.w-100{   /*es la imagen de las recetas*/
  /* box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .1); */
  box-shadow: 0 10px 20px 0px rgba(17,101,194, 0.3);
}

.btn-success{
  background: linear-gradient(to right, rgba(35, 185, 88, 0.6), rgba(11, 148, 102, 0.6));
  border: 0px;
  border-radius: 16px;            
  box-shadow: 0 5px 20px 0px rgba(17,101,194, 0.3);
  cursor: pointer;
}

.carousel-item img{
  background-size: cover
} 

.algo{
  background-color: antiquewhite;
  height: 500px;
  width: 100%;
}

/* .form-control{
  height: 4rem;
  outline: 0 none;
}

input{
  outline: none;
} */


.search-input,
.search-input:focus {
	border: none;
	/* border-bottom: 1px solid #000; */
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
  background-color: transparent;
  font-size: large;
  padding: 10px;
}

input[type="search"]::-webkit-search-cancel-button {
  /* -webkit-appearance: none; */
  cursor: pointer;
}

.input-icons i {
  position: absolute;
}

input.w-100{
  width: 95% !important;
}

.icon{
  margin-left: 10px;
}

/*=== FOOTER ===*/

footer{
  background-image: linear-gradient(to right, rgba(41, 211, 101, 0.6), rgba(5, 82, 56, 0.6));
}

.footer-brand{
  color: white;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, .15);
}

.footer-brand:hover{
  color: white;
  text-decoration: none;
}

footer a, footer p,
.name a, .name p{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
}

footer a:hover,
.name a:hover{
  color: green;
  text-decoration: none;
}

ul.social{
  list-style-type: none;
  display: flex;
  max-width: 17rem;
  padding: 0;
}

ul.social li{
  margin: 0 auto;
}

ul.social .svg-inline--fa{
  font-size: 2rem;
}

ul.social .svg-inline--fa:hover{
  color: green;
}

/*=== name ===*/

.name{
  background-image: linear-gradient(to right, rgba(41, 211, 101, 0.6), rgba(5, 82, 56, 0.6));
  text-align: center;
  padding: 1rem;
  border-top: .05rem solid white;
}


/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
  .landing h1 {
    font-size: 2.6rem;
    margin-left: 8px;
  }
  .landing h4 {
    font-size: 1.5rem;
    letter-spacing: .8rem;
  }

  ul.social li{
    /* margin: 0 auto; */
  }
}

/* Devices under 992px (xl) */
@media (max-width: 991.98px) {}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {
    #carouselExampleIndicators .carousel-inner .carousel-item {
      height: 500px
  }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

